<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="results" method="post">
    <label>Color</label>
    <select name="color" id="color">
        <option name="color" value="none">Select a Color</option>
        <option name="color" value="blue">blue</option>
        <option name="color" value="pink">pink</option>
        <option name="color" value="green">green</option>
        <option name="color" value="orange">orange</option>
    </select><br><br>
    <button>Submit</button>
</form>

</body>
</html>